<!DOCTYPE html>
<html lang="Pt-Br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/bootstap/css/bootstrap.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="../static/scroll.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <title>Portifólio</title>
</head>

<body>


  <i class="bi bi-list menu-mobile"></i>
  <aside id="header">
    <section class="profile">
      <img src="../static/img/perfil2.jpg" alt="Foto de Perfil">
      <h1>Luciano Lima</h1>
      <div class="social mt-4 text-center">
        <a target="_blank" href="https://www.linkedin.com/in/lucianolimajr/">
          <i class="bi bi-linkedin"></i>
        </a>
        <a target="_blank" href="https://github.com/lucianojunnior17">
          <i class="bi bi-github"></i>
        </a>
      </div>

    </section>

    <nav id="navbar" class="navmenu">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"> <i class="bi bi-house-fill"></i>Inicio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#sobre"> <i class="bi bi-person-bounding-box"></i> Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#habilidades"> <i class="bi bi-card-checklist"></i> Habilidade</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> <i class="bi bi-file-earmark"></i>Curriculo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> <i class="bi bi-collection"></i>Portifólio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> <i class="bi bi-envelope"></i>Contato</a>
        </li>

      </ul>

    </nav>

  </aside>

  <main id="main">


    <section id="inicio" class="row m-0 p-0">
      <!-- Zerando as Margim (m0) e zerando o Padding (p0)-->
      <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
        <h2 class="text-white text-shadow">Luciano Lima Jr.</h2>
        <span class="text-white" id="subtitule">Estudante de Engenharia e Front End</span>
      </div>

      <div class="col-md-7 d-flex justify-content-end align-items-end">
        <div id="arraste" class="d-flex align-items-center">
          <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
          <a href="#sobre">Arraste para Mais</a>
        </div>
      </div>

    </section>

    <section class="container" id="sobre">

      <div class="class w-100">
        <div class="col-md-12">
          <h2 class="pt-3">Sobre</h2>
          <p>Apaixonado por tecnologia e fã da cultura pop
            japonesa e gosto de assistir filmes. Acredito
            que a tecnologia está mudando o mundo e está
            ficando cada vez melhor, graduando em
            engenharia da computação aberto aos novos
            desafios. ✌️</p>

          <div class="row mt-4">
            <div class="col-md-4">
              <img class="img-fluid" src="../static/img/perfil2.jpg" alt="Luciano Junior">
            </div>
            <div class="col-md-8">
              <h3>Estudante de Engenharia e Fron-End</h3>
              <p>Estudanto Desenvolvimento Front-end </p>
              <div class="row mt-3 mb-3 ">
                <div class="col-md-6">
                  <ul class="list-group list-group-flush fs-5">
                    <li class="list-group-item">Niver : <span class="fw-lighter">24 de Abril de 1985</span></li>
                    <li class="list-group-item">Cidade: <span class="fw-lighter">Praia Grande</span></li>
                    <li class="list-group-item">Idade: <span class="fw-lighter">36 anos</span></li>
                    <li class="list-group-item">Estado <span class="fw-lighter"> São Paulo</span></li>

                  </ul>

                </div>

                <div class="col-md-6">
                  <ul class="list-group list-group-flush fs-5">
                    <li class="list-group-item">Hobby: <span class="fw-lighter">Filmes</span></li>
                    <li class="list-group-item">Site: <a href="https://github.com/lucianojunnior17" target="_blank"
                        class="fw-lighter text-decoration-none link-dark"> Link Site</a< /li>
                    <li class="list-group-item">Linkedin: <a href="https://www.linkedin.com/in/lucianolimajr/"
                        target="_blank" class="fw-lighter text-decoration-none link-dark"> Link</a< /li>

                  </ul>

                </div>

              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque totam laboriosam labore praesentium,
                quasi odit officiis, illum obcaecati similique, tenetur iure dolor excepturi voluptatum facilis quod
                assumenda! Assumenda, exercitationem? Nihil!</p>

            </div>
          </div>
        </div>
      </div>

    </section>


    <div class="containe">

      <section class="container section-bg" id="habilidades">
        <div class="pb-5">
          <h2 class="pt-5">Habilidades</h2>
          <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero aut officia cupiditate fugit labore
            provident
            architecto accusamus deserunt exercitationem itaque nostrum atque esse delectus, dignissimos et odio rerum
            saepe
            consequuntur.</p>

          <div class="row">
            <div class="col-md-6">
              <p class="mt-3 mb-0">HTML 5</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0"
                  aria-valuemax="100">80%</div>
              </div>
              <p class="mt-3 mb-0">CSS</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0"
                  aria-valuemax="100">50%</div>
              </div>
              <p class="mt-3 mb-0">JavaSrcipy</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                  aria-valuemax="100">25%</div>
              </div>

            </div>
            <div class="div col-md-6">
              <p mt-3 mb-0>github</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0"
                  aria-valuemax="100">75%</div>
              </div>
              <p class="mt-3 mb-0">Python</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                  aria-valuemax="100">25%</div>
              </div>
              <p class="mt-3 mb-0">React</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="15" aria-valuemin="0"
                  aria-valuemax="100">15%</div>
              </div>
            </div>
            <hr class="mt-2 mb-2">
          </div>
          <div class="row">
            <div class="col-md-6">
              <p class="mt-3 mb-0">Comunicação</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0"
                  aria-valuemax="100">75%</div>
              </div>
              <p class="mt-3 mb-0">Liderança</p>
              <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0"
                aria-valuemax="100">95%</div>

            </div>
            <div class="col-md-6">
              <p class="mt-3 mb-0">Trabalho em Equipe</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0"
                  aria-valuemax="100">60%</div>
              </div>
              <p class="mt-3 mb-0">Prestativo</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0"
                  aria-valuemax="100">75%</div>

              </div>
            </div>


      </section>
    </div>

  </main>

  <script src="../static/bootstap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/script.js"></script>


</body>

</html>